# Python cache
__pycache__/
.py[cod]
$py.class

# Distribution  packaging
build/
dist/
.egg-info/
.egg

# Environments
.env
.venv/
env
venv/

# PyInstaller
.manifest
.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.
.cache
pytest_cache/
.pytest_cache/
nosetests.xml
coverage.xml
.cover
.py,cover
.hypothesis/

# VS Code / PyCharm
.vscode/
.idea/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# ruff
.ruff_cache/

# Docker
.log
docker-compose.override.yml
docker-compose.override.yaml
